/* src/index.css */
:root {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    display: block;
    min-height: 100vh;
    overflow-x: hidden;
}

#root {
    width: 100%;
    margin: 0;
    padding: 0;
}